<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%- title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- vue -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- aos -->
        <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" /> -->
        <!-- swiper -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- <script src="./assets/js/swiper.js"></script> -->
        <!-- all.css -->
        <link rel="stylesheet" href="./assets/style/all.css" />
    </head>

    <body>
        <!-- nav -->
        <%- include('header/nav.ejs') %>

        <!-- 主要內容 -->
        <%- contents %>

        <!-- footer -->
        <%- include('footer/footer.ejs') %>

        <!-- JS -->
       
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
        <!-- <script src="./assets/js/swiper.js"></script> -->
        <script src="./assets/js/all.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
