<nav class="navbar navbar-expand-md navbar-light p-0">
    <div class="container">
        <!-- logo -->
        <h1 class="m-0">
            <a class="navbar-brand logo d-block" href="index.html">PETPET</a>
        </h1>
        <!-- 下拉選單 -->
        <button
            class="navbar-toggler border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item mr-0 mr-md-10 ">
                    <a class="nav-link text-primary text-center p-3 p-md-0" href="＃"> 預約服務 </a>
                </li>
                <li class="nav-item mr-0 mr-md-10 ">
                    <a class="nav-link text-primary text-center p-3 p-md-0" href="#"> 成為寵物保姆 </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-primary text-center p-3 p-md-0" href="#"> 登入 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
