<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>PETPET</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- aos -->
        <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" /> -->
        <!-- vue -->
        <script src="https://unpkg.com/vue@next"></script>
        <!-- all.css -->
        <link rel="stylesheet" href="./assets/style/all.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>

    <body >
        <!-- nav -->
        <nav class="navbar navbar-expand-md navbar-light p-0 topNav">
    <div class="container-fluid container-md">
        <!-- logo -->
        <h1 class="m-0">
            <a class="navbar-brand logo d-block" href="index.html">PETPET</a>
        </h1>
        <!-- 下拉選單 -->
        <button
            class="navbar-toggler border-0 btn-nav p-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="material-icons p-3"> menu </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item mr-0 mr-md-10">
                    <a
                        class="nav-link text-primary text-center d-block p-3 p-md-5 p-md-0 font-lg font-md-base"
                        href="＃"
                    >
                        預約服務
                    </a>
                </li>
                <li class="nav-item mr-0 mr-md-10">
                    <a
                        class="nav-link text-primary text-center d-block p-3 p-md-5 p-md-0 font-lg font-md-base"
                        href="#"
                    >
                        成為寵物保姆
                    </a>
                </li>
                
                <li class="nav-item">
                    <a
                        class="nav-link text-primary text-center d-block p-3 p-md-5 p-md-0 font-lg font-md-base"
                        href="login.html"
                    >
                        登入
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>


        <!-- 主要內容 -->
        
<section class="container mt-0 mt-md-15 mt-lg-20 text-primary">
    <div class="row">
        <!-- 圖片切換 -->
        <div class="col-md-5 col-lg-6 order-1 order-md-2">
            <div class="showImg mb-3">
                <img src="assets/images/homestay-3.jpeg" class="img-cover rounded" alt="" />
            </div>
            <ul class="list-unstyled mb-0 imgList d-flex">
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/homestay-3.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/index-5.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/homestay-5.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/index-7.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
            </ul>
        </div>
        <!-- 介紹 -->
        <div class="col-md-7 col-lg-6 mt-10 mt-md-0 order-2 order-md-1 sticky-top-pet">
            <!-- <div class=""> -->
            <div class="d-flex align-items-center mb-4">
                <h2 class="mr-4">毛孩好家</h2>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
            </div>
            <p class="font-lg font-md-xl">給予毛孩最舒適的環境是我們的職責！</p>
            <p class="mb-7 mb-lg-15">已提供 52 筆服務、並獲得 30 個評價</p>
            <div class="mb-7 mb-lg-10">
                <h5 class="mb-4">服務內容</h5>
                <p class="mb-2">寄宿 NT$ 450 /晚</p>
                <p class="mb-0">美容洗澡 NT$ 500 （含剪指甲、剃腳底毛、清耳朵）</p>
                <p class="font-sm text-secondary mb-2">個性貓另加價</p>
                <p class="mb-0">到府保姆 NT$ 550 /晚</p>
            </div>
            <div class="d-flex mb-7 mb-lg-15">
                <span class="material-icons text-secondary mr-2"> room </span>
                <div>
                    <p class="mb-0">高雄市鹽埕區七賢三路123號</p>
                    <p class="mb-0">服務區域：高雄市 全區</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <button type="button" class="btn btn-outline-secondary w-100">聯繫</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" 
                    data-toggle="modal" data-target="#step-one" id="modalbtn">
                        立刻預約
                    </button>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- 詳細內容 -->
        <div class="col-md-7 col-lg-12 mt-10 mt-md-15 mt-lg-20 order-3">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <div>
                        <h3 class="font-xl mb-3">關於</h3>
                        <p class="mb-0">
                            家中有5隻貓寶貝，對貓咪有瘋狂的熱愛 。<br />
                            目前已經照顧超過30位狗狗貓咪朋友！對於我來說，能夠與你們相遇都是緣分！
                        </p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">經歷</h3>
                        <p class="mb-0">曾接手過數次奶貓，照顧後送養成功，目前都是健健康康的毛孩。</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">技能證照</h3>
                        <p class="mb-0">寵物美容丙級技術證</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">提供</h3>
                        <p class="mb-0">貓砂盆、罐頭、乾飼料</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">毛孩活動範圍</h3>
                        <p class="mb-0">想去的任何地方</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">服務地區</h3>
                        <p class="mb-0">高雄市</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 飼主評論 -->
        <div class="col-lg-12 mt-10 mt-md-15 mt-lg-20 order-4">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <h3 class="mb-6">飼主評論（30）</h3>
                    <ul class="row list-unstyled mb-0 mb-md-2" id="owner">
                        <li class="col-md-6 mb-5" v-for="item in owners">
                            <div class="card h-100">
                                <div class="row no-gutters h-100">
                                    <div class="col-4 d-flex align-items-center justify-content-center">
                                        <img v-bind:src="item.imgUrl" class="card-img img-cover img-owner" alt="..." />
                                    </div>
                                    <div class="col-8 d-flex align-items-center py-3">
                                        <div class="card-body p-0">
                                            <div class="d-flex align-items-center mb-3">
                                                <h5 class="h6 font-weight-normal mr-2">{{item.name}}</h5>
                                                <span class="font-sm text-muted">Oct 17 2020</span>
                                            </div>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <p class="card-text mt-2">{{item.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="d-block text-right h5 mt-n3">查看更多</a>
                </div>
            </div>
        </div>
        <!-- 其他 -->
        <div class="col-lg-12 mt-10 mt-md-15 mt-lg-20 order-5">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <h3 class="mb-6">
                        其他
                        <a href="#" class="text-secondary">
                            <u>高雄市</u>
                        </a>
                        <a href="#" class="text-secondary">
                            <u>寄宿</u>
                        </a>
                        的寵物保姆
                    </h3>
                    <ul class="row list-unstyled mb-0 card-list no-gutters" id="list">
                        <li class="col-6 col-md-4 card-list-item mb-2 px-2 px-md-4 px-lg-1" v-for="item in petHome">
                            <div class="card card-shadow h-100">
                                <img v-bind:src="item.imgUrl" class="card-img-top" alt="..." />
                                <div class="card-body pt-2 pb-5 bg-light px-4">
                                    <h5 class="card-title mb-0 font-weight-normal">{{item.title}}</h5>
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                    </div>
                                    <p class="card-text font-sm">{{item.skill}}</p>
                                </div>
                                <div class="d-block d-md-none card-body d-flex justify-content-around p-0 text-center">
                                    <a href="petHomeDetail.html" class="w-50 py-3 card-list-link">聯繫</a>
                                    <a href="#" class="w-50 text-secondary py-3 card-list-link">預約</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


        <!-- footer -->
        <section class="mt-15 mt-md-20 text-primary bg-warningDark py-9">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-9">
                <h2 class="mb-3 mb-md-2 font-xl font-md-4xl">有任何我們能幫助您的嗎？</h2>
                <p class="mb-4 font-base font-md-lg">輸入電子信箱 <br />將有專業人員在線幫您解決所有問題</p>
            </div>
            <div class="col-12 col-md-9 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control p-3 h6 h-100 mb-0" placeholder="example@gmail.com" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary py-2 px-16 h6" type="button">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="pt-2 pt-md-15 pb-6 pb-md-7 text-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-0 mb-md-6 mb-lg-9">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <a class="text-left footer-logo" href="index.html"> PETPET </a>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>寵物服務</h5>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>加入我們</h5>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>聯繫我們</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-md-block">
                <div class="row">
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">
                                <a href="#">關於我們</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">幫助中心</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">使用條款</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">隱私政策</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">
                                <a href="petHome.html"> 寵物寄宿</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">寵物到府保姆</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">寵物美容洗澡</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">寵物行為訓練</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">
                                <a href="#">成為寵物保姆</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">加入寵物計程車</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">專屬 APP 下載</a>
                            </li>
                            <li class="mb-6">
                                <a href="#">相關合約條款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">
                                <a href="#">petpet@petmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-0 mt-md-20 justify-content-between align-items-center">
            <div class="d-none d-md-flex font-lg">
                <span class="material-icons mr-3"> local_phone </span>
                <span>07-123-4567</span>
            </div>
            <p class="mb-0 font-sm">Copyright © 2020 PetPet. All rights reserved.</p>
        </div>
    </div>
</footer>


        <!-- JS -->

        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"
        ></script>
        <script src="./assets/js/all.js"></script>
        <!-- <script>
            AOS.init();
        </script> -->
        <!-- modal -->
        <!-- 1 -->
<div
    class="modal fade"
    id="step-one"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">預約項目</h4>
                        </div>
                        <!-- ul + form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">預約項目</h4>
                            <!-- ul -->
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> house </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">寄宿</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> wash </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">美容</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> roofing </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">到府保姆</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> directions_walk </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">遛狗保姆</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- form -->
                            <form class="mt-6 mt-lg-7">
                                <label for="date" class="mb-1">選擇日期</label>
                                <!-- date -->
                                <div class="form-row mb-5">
                                    <div class="form-group mb-2 mb-lg-0 col-10 col-lg-5">
                                        <input type="date" class="form-control" name="" id="date" />
                                    </div>
                                    <div class="form-group mb-2 mb-lg-0 col-auto d-flex align-items-center">
                                        <p class="mb-0">至</p>
                                    </div>
                                    <div class="form-group mb-0 col-10 col-lg-5">
                                        <input type="date" class="form-control" name="" id="date2" />
                                    </div>
                                    <div class="form-group mb-0 col-auto d-flex align-items-center">
                                        <p class="mb-0">共1晚</p>
                                    </div>
                                </div>
                                <!-- num -->
                                <div class="form-row">
                                    <div class="form-group col-4 col-lg-2 mb-0 mr-0 mr-lg-6">
                                        <label for="State1" class="mb-1">毛孩數量</label>
                                        <select id="State1" class="form-control">
                                            <option selected>1隻</option>
                                            <option>2隻</option>
                                            <option>3隻</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4 col-lg-3 mb-0 mr-0 mr-lg-6">
                                        <label for="State2" class="mb-1">您的毛孩是</label>
                                        <select id="State2" class="form-control">
                                            <option selected>貓</option>
                                            <option>狗</option>
                                            <option>松鼠</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4 col-lg-3 mb-0">
                                        <label for="State3" class="mb-1">年齡</label>
                                        <select id="State3" class="form-control">
                                            <option selected>1歲</option>
                                            <option>2歲</option>
                                            <option>3歲</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-18 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="pt-2 w-100 step-list-item">預約項目</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約資料</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-10 mt-lg-9 mt-xl-4 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-2"
                                        data-dismiss="modal"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-two"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 2 -->
<div
    class="modal fade"
    id="step-two"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">預約資料</h4>
                        </div>
                        <!-- form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-lg-5 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">預約資料</h4>
                            <form class="">
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="pet" class="mb-1">毛孩姓名</label>
                                    <input type="text" class="form-control" id="pet" placeholder="請輸入毛孩姓名" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="name" class="mb-1">飼主姓名</label>
                                    <input type="text" class="form-control" id="name" placeholder="請輸入飼主姓名" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="Email4" class="mb-1">Email</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="Email4"
                                        placeholder="example@gmail.com"
                                    />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-0">
                                    <label for="tel" class="mb-1">聯絡電話</label>
                                    <input type="tel" class="form-control" id="tel" placeholder="0912-345-678" />
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0 pl-lg-7 pl-xl-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-15 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約項目</li>
                                <li class="pt-2 w-100 step-list-item">預約資料</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-3 mt-lg-9 mt-xl-0 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-3"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-one"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-three"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3 -->
<div
    class="modal fade"
    id="step-three"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">付款資訊</h4>
                        </div>
                        <!-- form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-lg-5 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">付款資訊</h4>
                            <form class="">
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="creditCard" class="mb-1">信用卡帳號</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="creditCard"
                                        placeholder="請輸入毛孩姓名"
                                    />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="day" class="mb-1">有效日期</label>
                                    <input type="date" class="form-control" id="day" placeholder="(MM/YY)" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="SecurityCode" class="mb-1">安全碼</label>
                                    <input type="password" class="form-control" id="SecurityCode" placeholder="***" />
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0 pl-lg-7 pl-xl-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-15 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約項目</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約資料</li>
                                <li class="pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-20 mt-lg-9 mt-xl-4 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-2"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-two"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-four"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 4 -->
<div
    class="modal fade"
    id="step-four"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light text-primary">
            <div class="modal-body  py-20 px-0 px-lg-20">
                <div class="container py-20 px-6 px-lg-20">
                    <div class="row d-flex flex-column align-items-center ">
                        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                            <span class="material-icons text-warningDark mb-3 modal-icon-end"> pets </span>
                            <h4 class="mb-3">預約成功</h4>
                            <p class="mb-10">您可以在會員頁找到您的預約資料並修改或取消預約。</p>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <a href="member.html" class="btn btn-secondary h5 w-100">前往會員頁</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </body>
</html>
