<section class="mt-15 mt-md-20 text-primary bg-warningDark py-9">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-9">
                <h2 class="mb-3 mb-md-2 font-xl font-md-4xl">有任何我們能幫助您的嗎？</h2>
                <p class="mb-4 font-base font-md-lg">輸入電子信箱 <br />將有專業人員在線幫您解決所有問題</p>
            </div>
            <div class="col-12 col-md-9 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control p-3 h6 h-100 mb-0" placeholder="example@gmail.com" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary py-2 px-16 h6" type="button">送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="pt-2 pt-md-15 pb-6 pb-md-7 text-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-0 mb-md-6 mb-lg-9">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <a class="text-left footer-logo" href="index.html"> PETPET </a>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>寵物服務</h5>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>加入我們</h5>
                    </div>
                    <div class="d-none d-md-flex col-3 justify-content-start align-items-center">
                        <h5>聯繫我們</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-md-block">
                <div class="row">
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">關於我們</li>
                            <li class="mb-6">幫助中心</li>
                            <li class="mb-6">使用條款</li>
                            <li class="mb-6">隱私政策</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">寵物寄宿</li>
                            <li class="mb-6">寵物到府保姆</li>
                            <li class="mb-6">寵物美容洗澡</li>
                            <li class="mb-6">寵物行為訓練</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">成為寵物保姆</li>
                            <li class="mb-6">加入寵物計程車</li>
                            <li class="mb-6">專屬 APP 下載</li>
                            <li class="mb-6">相關合約條款</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-unstyled">
                            <li class="mb-6">petpet@petmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-0 mt-md-20 justify-content-between align-items-center">
            <div class="d-none d-md-flex font-lg">
                <span class="material-icons"> local_phone </span>
                <span>07-123-4567</span>
            </div>
            <p class="mb-0 font-sm">Copyright © 2020 PetPet. All rights reserved.</p>
        </div>
    </div>
</footer>
