<section class="mt-15 mt-md-20 text-primary bg-warningDark py-9">
    <div class="container">
        <div class="row no-gutters" >
            <div class="col-12 col-md-9 ">
                <h2 class="mb-3 mb-md-2 font-xl font-md-4xl">有任何我們能幫助您的嗎？</h2>
                <p class="mb-4 font-base font-md-lg">輸入電子信箱 <br />將有專業人員在線幫您解決所有問題</p>
            </div>
            <div class="col-12 col-md-9 col-lg-6">
                <div class="input-group ">
                    <input
                        type="text"
                        class="form-control p-3 h6 h-100 mb-0"
                        placeholder="example@gmail.com"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-secondary py-2 px-16 h6" type="button" >送出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer></footer>
