---
title: PETPET
layout: ./app/ejs/layout.ejs
engine: ejs
current: petHomeDetail
---

<section class="container mt-0 mt-md-15 mt-lg-20 text-primary">
    <div class="row">
        <!-- 圖片切換 -->
        <div class="col-md-5 col-lg-6 order-1 order-md-2">
            <div class="showImg mb-3">
                <img src="assets/images/homestay-3.jpeg" class="img-cover rounded" alt="" />
            </div>
            <ul class="list-unstyled mb-0 imgList d-flex">
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/homestay-3.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/index-5.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/homestay-5.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="imgList-link">
                        <img src="assets/images/index-7.jpeg" alt="" class="imgList-item img-cover" />
                    </a>
                </li>
            </ul>
        </div>
        <!-- 介紹 -->
        <div class="col-md-7 col-lg-6 mt-10 mt-md-0 order-2 order-md-1 sticky-top-pet">
            <!-- <div class=""> -->
            <div class="d-flex align-items-center mb-4">
                <h2 class="mr-4">毛孩好家</h2>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
                <span class="material-icons text-warningDark mr-1"> grade </span>
            </div>
            <p class="font-lg font-md-xl">給予毛孩最舒適的環境是我們的職責！</p>
            <p class="mb-7 mb-lg-15">已提供 52 筆服務、並獲得 30 個評價</p>
            <div class="mb-7 mb-lg-10">
                <h5 class="mb-4">服務內容</h5>
                <p class="mb-2">寄宿 NT$ 450 /晚</p>
                <p class="mb-0">美容洗澡 NT$ 500 （含剪指甲、剃腳底毛、清耳朵）</p>
                <p class="font-sm text-secondary mb-2">個性貓另加價</p>
                <p class="mb-0">到府保姆 NT$ 550 /晚</p>
            </div>
            <div class="d-flex mb-7 mb-lg-15">
                <span class="material-icons text-secondary mr-2"> room </span>
                <div>
                    <p class="mb-0">高雄市鹽埕區七賢三路123號</p>
                    <p class="mb-0">服務區域：高雄市 全區</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <button type="button" class="btn btn-outline-secondary w-100">聯繫</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" 
                    data-toggle="modal" data-target="#step-one">
                        立刻預約
                    </button>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- 詳細內容 -->
        <div class="col-md-7 col-lg-12 mt-10 mt-md-15 mt-lg-20 order-3">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <div>
                        <h3 class="font-xl mb-3">關於</h3>
                        <p class="mb-0">
                            家中有5隻貓寶貝，對貓咪有瘋狂的熱愛 。<br />
                            目前已經照顧超過30位狗狗貓咪朋友！對於我來說，能夠與你們相遇都是緣分！
                        </p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">經歷</h3>
                        <p class="mb-0">曾接手過數次奶貓，照顧後送養成功，目前都是健健康康的毛孩。</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">技能證照</h3>
                        <p class="mb-0">寵物美容丙級技術證</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">提供</h3>
                        <p class="mb-0">貓砂盆、罐頭、乾飼料</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">毛孩活動範圍</h3>
                        <p class="mb-0">想去的任何地方</p>
                    </div>
                    <div class="mt-5 mt-md-7 mt-lg-10">
                        <h3 class="font-xl mb-3">服務地區</h3>
                        <p class="mb-0">高雄市</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 飼主評論 -->
        <div class="col-lg-12 mt-10 mt-md-15 mt-lg-20 order-4">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <h3 class="mb-6">飼主評論（30）</h3>
                    <ul class="row list-unstyled mb-0 mb-md-2" id="owner">
                        <li class="col-md-6 mb-5" v-for="item in owners">
                            <div class="card h-100">
                                <div class="row no-gutters h-100">
                                    <div class="col-4 d-flex align-items-center justify-content-center">
                                        <img v-bind:src="item.imgUrl" class="card-img img-cover img-owner" alt="..." />
                                    </div>
                                    <div class="col-8 d-flex align-items-center py-3">
                                        <div class="card-body p-0">
                                            <div class="d-flex align-items-center mb-3">
                                                <h5 class="h6 font-weight-normal mr-2">{{item.name}}</h5>
                                                <span class="font-sm text-muted">Oct 17 2020</span>
                                            </div>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <span class="material-icons text-warningDark mr-1"> grade </span>
                                            <p class="card-text mt-2">{{item.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="d-block text-right h5 mt-n3">查看更多</a>
                </div>
            </div>
        </div>
        <!-- 其他 -->
        <div class="col-lg-12 mt-10 mt-md-15 mt-lg-20 order-5">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6">
                    <h3 class="mb-6">
                        其他
                        <a href="#" class="text-secondary">
                            <u>高雄市</u>
                        </a>
                        <a href="#" class="text-secondary">
                            <u>寄宿</u>
                        </a>
                        的寵物保姆
                    </h3>
                    <ul class="row list-unstyled mb-0 card-list no-gutters" id="list">
                        <li class="col-6 col-md-4 card-list-item mb-2 px-2 px-md-4 px-lg-1" v-for="item in petHome">
                            <div class="card card-shadow h-100">
                                <img v-bind:src="item.imgUrl" class="card-img-top" alt="..." />
                                <div class="card-body pt-2 pb-5 bg-light px-4">
                                    <h5 class="card-title mb-0 font-weight-normal">{{item.title}}</h5>
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                        <span class="material-icons text-warningDark mr-1 font-lg"> grade </span>
                                    </div>
                                    <p class="card-text font-sm">{{item.skill}}</p>
                                </div>
                                <div class="d-block d-md-none card-body d-flex justify-content-around p-0 text-center">
                                    <a href="petHomeDetail.html" class="w-50 py-3 card-list-link">聯繫</a>
                                    <a href="#" class="w-50 text-secondary py-3 card-list-link">預約</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
