.link-service {
    background: rgba(0, 0, 0, 0.4);
    &:hover {
        background: rgba(0, 0, 0, 0);
        transition: all 0.7s;
    }
}

.list-count {
    position: relative;
    margin-left: 25%;
    @include media-breakpoint-up(md) {
        margin-left: 0%;
    }
    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 120%;
        background-color: #fff;
        left: 0;
        top: -10%;
        // bottom: -1%;
        @include media-breakpoint-up(md) {
            height: 200%;
            top: 0;
        }
    }
}
