<!-- 1 -->
<div
    class="modal fade"
    id="step-one"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">預約項目</h4>
                        </div>
                        <!-- ul + form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">預約項目</h4>
                            <!-- ul -->
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> house </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">寄宿</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> wash </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">美容</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> roofing </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">到府保姆</p>
                                    </div>
                                </li>
                                <li class="card modal-item">
                                    <div
                                        class="card-body p-0 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <span class="material-icons modal-icon"> directions_walk </span>
                                        <p class="card-text modal-text mt-1 mb-0 font-base font-lg-lg">遛狗保姆</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- form -->
                            <form class="mt-6 mt-lg-7">
                                <label for="date" class="mb-1">選擇日期</label>
                                <!-- date -->
                                <div class="form-row mb-5">
                                    <div class="form-group mb-2 mb-lg-0 col-10 col-lg-5">
                                        <input type="date" class="form-control" name="" id="date" />
                                    </div>
                                    <div class="form-group mb-2 mb-lg-0 col-auto d-flex align-items-center">
                                        <p class="mb-0">至</p>
                                    </div>
                                    <div class="form-group mb-0 col-10 col-lg-5">
                                        <input type="date" class="form-control" name="" id="date2" />
                                    </div>
                                    <div class="form-group mb-0 col-auto d-flex align-items-center">
                                        <p class="mb-0">共1晚</p>
                                    </div>
                                </div>
                                <!-- num -->
                                <div class="form-row">
                                    <div class="form-group col-4 col-lg-2 mb-0 mr-0 mr-lg-6">
                                        <label for="State1" class="mb-1">毛孩數量</label>
                                        <select id="State1" class="form-control">
                                            <option selected>1隻</option>
                                            <option>2隻</option>
                                            <option>3隻</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4 col-lg-3 mb-0 mr-0 mr-lg-6">
                                        <label for="State2" class="mb-1">您的毛孩是</label>
                                        <select id="State2" class="form-control">
                                            <option selected>貓</option>
                                            <option>狗</option>
                                            <option>松鼠</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4 col-lg-3 mb-0">
                                        <label for="State3" class="mb-1">年齡</label>
                                        <select id="State3" class="form-control">
                                            <option selected>1歲</option>
                                            <option>2歲</option>
                                            <option>3歲</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-18 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="pt-2 w-100 step-list-item">預約項目</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約資料</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-10 mt-lg-9 mt-xl-4 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-2"
                                        data-dismiss="modal"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-two"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 2 -->
<div
    class="modal fade"
    id="step-two"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">預約資料</h4>
                        </div>
                        <!-- form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-lg-5 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">預約資料</h4>
                            <form class="">
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="pet" class="mb-1">毛孩姓名</label>
                                    <input type="text" class="form-control" id="pet" placeholder="請輸入毛孩姓名" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="name" class="mb-1">飼主姓名</label>
                                    <input type="text" class="form-control" id="name" placeholder="請輸入飼主姓名" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-6">
                                    <label for="Email4" class="mb-1">Email</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="Email4"
                                        placeholder="example@gmail.com"
                                    />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-0">
                                    <label for="tel" class="mb-1">聯絡電話</label>
                                    <input type="tel" class="form-control" id="tel" placeholder="0912-345-678" />
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0 pl-lg-7 pl-xl-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-15 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約項目</li>
                                <li class="pt-2 w-100 step-list-item">預約資料</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-3 mt-lg-9 mt-xl-0 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-3"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-one"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-three"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3 -->
<div
    class="modal fade"
    id="step-three"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body pt-4 pt-lg-15 pb-5 pb-lg-12 px-6 px-lg-15 px-xl-8">
                <div class="container-fluid p-0">
                    <div class="row">
                        <!-- 標題 -->
                        <div
                            class="col-xl-8 mt-3 mt-lg-0 mb-3 mb-lg-5 mb-xl-8 order-1 order-lg-0 order-xl-0 d-block d-xl-none"
                        >
                            <h4 class="text-primary">付款資訊</h4>
                        </div>
                        <!-- form -->
                        <div class="col-xl-8 order-3 order-lg-2 order-xl-1 mt-6 mt-lg-5 mt-xl-0">
                            <h4 class="text-primary mb-xl-8 d-none d-xl-block">付款資訊</h4>
                            <form class="">
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="creditCard" class="mb-1">信用卡帳號</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="creditCard"
                                        placeholder="請輸入毛孩姓名"
                                    />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="day" class="mb-1">有效日期</label>
                                    <input type="date" class="form-control" id="day" placeholder="(MM/YY)" />
                                </div>
                                <div class="form-group col-lg-7 p-0 mb-5">
                                    <label for="SecurityCode" class="mb-1">安全碼</label>
                                    <input type="password" class="form-control" id="SecurityCode" placeholder="***" />
                                </div>
                            </form>
                        </div>
                        <!-- img -->
                        <div class="col-xl-4 order-2 order-lg-1 order-xl-2 d-flex flex-xl-column align-items-center">
                            <div class="col-4 col-xl-12 flex-grow-1 flex-shrink-1 px-0 mr-3 mr-xl-0">
                                <img
                                    src="assets/images/homestay-3.jpeg"
                                    class="img-cover rounded img-fluid img-modal"
                                    alt=""
                                />
                            </div>
                            <!-- title -->
                            <div class="col-8 col-xl-12 mt-0 mt-xl-2 flex-grow-1 flex-shrink-1 px-0 pl-lg-7 pl-xl-0">
                                <div class="d-flex flex-column flex-lg-row">
                                    <h5 class="text-primary">毛孩好家</h5>
                                    <div class="d-flex align-items-center text-warningDark">
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                        <span class="material-icons mr-1"> grade </span>
                                    </div>
                                </div>
                                <div class="d-flex mt-0 mt-lg-2">
                                    <span class="material-icons text-secondary mr-2"> place </span>
                                    <p class="mb-0 text-primary">高雄市苓雅區、新興區、前鎮區</p>
                                </div>
                            </div>
                        </div>
                        <!-- progress -->
                        <div
                            class="col-xl-8 order-0 order-lg-3 order-xl-3 d-flex align-items-center justify-content-center mt-lg-15 mt-xl-13"
                        >
                            <ul class="list-unstyled mb-0 d-flex justify-content-around w-100 text-center step-list">
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約項目</li>
                                <li class="font-weight-light pt-2 w-100 step-list-item">預約資料</li>
                                <li class="pt-2 w-100 step-list-item">付款資訊</li>
                            </ul>
                        </div>
                        <!-- btn -->
                        <div class="col-xl-4 mt-20 mt-lg-9 mt-xl-4 order-4">
                            <div class="row">
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <a
                                        href="#"
                                        class="text-secondary p-2 d-block text-center text-lg-right text-xl-center mb-lg-0 mb-xl-2"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-two"
                                        >返回</a
                                    >
                                </div>
                                <div class="col-12 col-lg-6 col-xl-12">
                                    <button
                                        class="btn btn-secondary w-100 h5"
                                        data-dismiss="modal"
                                        data-toggle="modal"
                                        data-target="#step-four"
                                    >
                                        下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 4 -->
<div
    class="modal fade"
    id="step-four"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light text-primary">
            <div class="modal-body  py-20 px-0 px-lg-20">
                <div class="container py-20 px-6 px-lg-20">
                    <div class="row d-flex flex-column align-items-center ">
                        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                            <span class="material-icons text-warningDark mb-3 modal-icon-end"> pets </span>
                            <h4 class="mb-3">預約成功</h4>
                            <p class="mb-10">您可以在會員頁找到您的預約資料並修改或取消預約。</p>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-4">
                            <a href="member.html" class="btn btn-secondary h5 w-100">前往會員頁</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
