@mixin bgu($url, $height) {
    background: url($url);
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// banner
.bg-petHome-banner {
    @include bgu('../images/index-1.png', calc(100vh - 64px));
    background-position: left;
    background-size: contain;
}

// 位置在index
.bg-count-banner {
    @include bgu('../images/index-9.jpeg', 812px);
    @include media-breakpoint-up(md) {
        height: 584px;
    }
}

//共通
.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//login
.bg-login {
    @include bgu('../images/index-1.png', calc(100vh - 64px));
    background-position: left;
    background-size: contain;
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}
