.card-shadow {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px 4px 0px 0px;
    // width: calc((100% - 30px) / 2);
    // @include media-breakpoint-up(md) {
    //     width: calc((100% - 60px) / 3);
    // }
    // @include media-breakpoint-up(lg) {
    //     width: calc((100% - 90px) / 4);
    // }
    // .card-img-top{
    //     height: 128px;
    // }
}

.card-list-link{
    &:hover{
        background-color: $warning;
        color:$white ;
        transition: all 0.3s;
    }
}
