.card-shadow {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px 4px 0px 0px;
}

.card-list-link{
    &:hover{
        background-color: $warning;
        color:$white ;
        transition: all 0.3s;
    }
}
