.img-index-banner {
    width: 100%;
    // max-height: 352px;
    max-height: 400px;
    object-fit: cover;
    object-position: center center;
    @include media-breakpoint-up(sm) {
        max-height: 288px;
        object-fit: contain;
    }
    @include media-breakpoint-up(lg) {
        max-height: 736px;
        object-fit: cover;
    }
}

// 共通
.img-cover {
    object-fit: cover;
    object-position: center center;
}

.img-service {
    height: 132px;
    @include media-breakpoint-up(md) {
        height: 210px;
    }
    @include media-breakpoint-up(lg) {
        height: 350px;
    }
}
.img-service-sm {
    height: 173px;
    @include media-breakpoint-up(md) {
        height: 103px;
    }
    @include media-breakpoint-up(lg) {
        height: 172px;
    }
}

.img-reserve {
    max-height: 160px;
}

.img-homestay-banner {
    max-height: 352px;
    @include media-breakpoint-up(md) {
        height: 315px;
    }
}
