//最上方選單logo
.logo {
    display: block;
    background: url(../images/logo.svg);
    width: 121px;
    height: 55px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    @include media-breakpoint-up(md) {
        position: relative;
        left: 0;
        top: 0;
        transform: translateX(0%);
    }
}

// topNav
.topNav {
    position: relative;
    .nav-item {
        border-bottom: 1px solid $gray-500;
        @include media-breakpoint-up(md) {
            border-bottom: 0px;
        }
    }
}

// 折疊選單的按鈕
.btn-nav {
    &:focus {
        border: 0;
        outline: 0;
    }
    .material-icons {
        color: $warning;
        font-size: 36px;
        font-weight: bold;
    }
}

// 下拉選單的按鈕
.btn-arrow-down {
    font-size: 44px;
    position: absolute;
    bottom: -80%;
    // top: 0;
    right: 15%;
    // left: 0;
}

